<section class="about" id="about">

    <h1 class="heading"> <span>Mô </span> Tả </h1>

    <div class="row">

        <div class="image">
            <img src="images/12.jpg" alt="">
        </div>

        <div class="content">
            <h3>VÉ RUNETERRA TÁI HỢP VÀ HƠN THẾ NỮA</h3>
            <p>Chào mừng bạn đến với Runeterra, hoặc có thể nói là một thế giới phi lý mới được thiết lập sau trận cuồng bão phá vỡ, chia cắt và hợp nhất các khu vực. Có thể cuộc hội ngộ của Teemo và Jarvan IV giữa Biển Hoa Oải Hương tại Hư Không chẳng khiến bạn mấy phấn khích, nhưng chắc chắn việc trừ khử kẻ thù của bạn bằng hoạt ảnh kết liễu đầy cảm xúc của Teemo Tiểu Quỷ Tí Nị sẽ khiến bạn hào hứng. </p>
            <p>Hãy cùng chúng tôi khám phá các vật phẩm trang trí được lấy cảm hứng từ Runeterra sẽ có trong mùa mới tại đây nhé. Tất cả các nội dung được trao đổi tại đây sẽ lên sóng vào lúc 01:00 (giờ Việt Nam) cùng ngày Bản Cập Nhật 13.12 ra mắt!  </p>
            <a href="#" class="btn">Khám Phá</a>
        </div>

    </div>

</section>