<section class="blogs" id="blogs">

    <h1 class="heading"> Tin  <span>Tức</span> </h1>

    <div class="box-container">

        <div class="box">
            <div class="image">
                <img src="images/nen2.jpeg" alt="">
            </div>
            <div class="content">
                <a href="#" class="title">Cổng Dịch Chuyển Khu Vực</a>
                <span>by admin / ngày 23 tháng 6, 2023</span>
                <p>Lựa chọn Huyền Thoại và Cổng Dịch Chuyển trên một Runeterra vụn vỡ cùng .</p>
                <a href="#" class="btn">read more</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="images/nen1.jpeg" alt="">
            </div>
            <div class="content">
                <a href="#" class="title">Vé Runeterra Tái Hợp</a>
                <span>by admin / ngày 23 tháng 6, 2023</span>
                <p>Tất cả những điều bạn cần biết về Linh Thú, sân đấu và Vé Runeterra Tái Hợp!</p>
                <a href="#" class="btn">read more</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="images/nen.jpeg" alt="">
            </div>
            <div class="content">
                <a href="#" class="title">Tương Lai Phía Trước</a>
                <span>by admin / ngày 23 tháng 6, 2023</span>
                <p>Cập nhật Phân Bổ Xếp Hạng, chuỗi thăng hạng và giới thiệu bậc Xếp Hạng mới.</p>
                <a href="#" class="btn">read more</a>
            </div>
        </div>

    </div>

</section>