<section class="home" id="home">

    <div class="content">
        <h3>HẠ GỤC KẺ ĐỊCH <span>
            MỘT CÁCH SANG CHẢNH</span></h3>
        <p>Thay đổi diện mạo các vị tướng yêu thích với trang phục để tạo nên điểm nhấn của riêng bạn.</p>
        <a href="#" class="btn">Chơi Ngay</a>
    </div>

</section>